/*body*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FA8072;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*------------------header----------------*/
.page-header {
  display: block;
}
.header-container {
  display: flex;
  align-items: self-start;
}
.nav {
  display: flex;
  width: 900px;
}
.header-nav-list {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 10px;
  list-style: none;
}
.header-nav-link {
  display: block;
  padding: 20px 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-decoration: none;
  color: #2E1F27;
 
}
.header-nav-link:hover,
.header-nav-link:focus {
  font-weight: bold;
  color:#FFD1C1;
}

/*---------------index page---------------------*/
.main-container {
  display: block;
  padding: 100px 50px;
}
.main-title {
  text-align: center;
  font-weight: 900;
  font-size: 250px;
  text-shadow: 2px 6px #B05C52;
}

/*-----------------articals main-------------------*/
.articles-container {
  display: flex;
  margin: 20px 0px;
  gap: 10px;
}
.section-title{
 padding: 40px 0px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1111;
  text-align: left;
  letter-spacing: 0.02em;
  color: #2E1F27;
}
.article-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: auto;
  padding: 15px;
  border: 1px solid;
  border-color: #B05C52;
  border-radius: 10px;
}
.article-title{
  margin-bottom: 15px;
  height: 85px;
  font-weight: 400;
  font-size: 25px;
  text-align: justify;
}
.article-link{
  text-decoration: none;
  color: #2E1F27;
}
.article-link:hover,
.article-link:focus {
  color: #FFD1C1;
}
.article-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: justify;
}
.box-link {
  text-decoration: none;
  color: #FFD1C1;
}
.article-text .text {
  margin-top: auto; 
  text-align: right;
}
.comment-link {
  font-weight: 400;
  text-decoration: none;
  color: #2E1F27;
}



/*-----------------footer-------------------------*/
.footer {
  display: block;
  padding: 20px 20px;
  border-top: 1px dashed;
  color: #2E1F27;
}
.unicode-text {
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  color:   color: #2E1F27;
}
